<%= render :partial => "lists/list", :collection => @lists, :locals => {:html_class => ["left-list", "right-list"]} %>

<div class="load_more">
  <%= link_to "Load more", lists_path(:page => (params[:page].next rescue 1)) %>
</div>
