<%- unless user_signed_in? %>
  <div id="ads">
    <h2>
      Never again lose track of your things to do,<br>
      <%= link_to("sign up now!", new_user_registration_path) %>
    </h2>
  </div>
<% end %>

<div id="main">
</div>
